@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik
}

body {
  background-color: #f9f9f9
}

.page_width {
  max-width: 1250px;
  margin: auto;
  padding: 0px 15px;
}

.section_margin {
  width: 100%;
  margin: 75px 0px;
}

header {
  width: 100%;
  margin: auto;
  padding: 10px 0
}

.nav_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.nav_desktop .menu_bar {
  display: none;
}

.nav_desktop nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px
}

.nav_desktop nav ul li a {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 18px;
  font-weight: 400;
  transition: .3s
}

.nav_desktop nav ul li a:hover {
  color: #058b8c;
  font-weight: 700
}

.nav_desktop nav ul li:last-child a {
  background-color: #058b8c;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center
}

.quick_service_section {
  width: 100%;
  margin: auto;
  background-color: #058b8c
}

.quick_service_inner_section {
  width: 100%;
  height: 225px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  color: #fff
}

.quick_service_inner_section h2 {
  font-size: 40px;
  font-weight: 700
}

.quick_service_inner_section a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center
}

.footer_inner_grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 25px;
  padding: 75px 0px;
}

.footer_about {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.footer_about p {
  color: #8f8f8f;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px
}

.footer_nav ul li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 400;
  transition: all .3s;
}

.footer_nav ul li a:hover {
  color: #1E1E1E;
  font-weight: 700;
}

.footer_contact_us {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_contact_us a {
  text-decoration: none;
  color: #8f8f8f;
  ;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.footer_contact_us a:hover {
  color: #1E1E1E;
  font-weight: 700;
}

.form_footer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form_footer input[type=text] {
  width: 100%;
  height: 35px;
  border-radius: 341px;
  border: 2px solid #058B8C;
}

.form_footer input[type=submit] {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  border-radius: 48px;
  background: #058B8C;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
  padding: 5px 15px;
}


.outer_service {
  position: relative;
}

.inner_service {
  position: absolute;
  width: 200px;
  padding: 10px;
  background: #058B8C;
  display: none;
}

.inner_service .service_list {
  display: unset;
}

.inner_service .service_list li {
  padding: 15px;
}

.inner_service .service_list li:last-child {
  padding: 0px;
  background: transparent;
}

.inner_service .service_list li:hover {
  background: #fff;
}

.outer_service:hover .inner_service {
  display: block;
}

/* Mobile Nav */
.mobile_nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #058B8C;
  top: 0;
  left: 0;
  display: none;
}